<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic-tac</title>
</head>
<body>

  <a href="http://localhost/watchShop/admin/plantillasPHP/">zona Admin</a>
  <div><!--href generados pro el routing module-->
    <a href="#" routerLink="/listado" >VER PRODUCTOS</a> &nbsp;&nbsp;&nbsp;

    <a href="#" routerLink="/carrito" >VER CARRITO</a>
  </div>
  <router-outlet></router-outlet>

</body>
</html>
